<!-- <div class="authPage">
  
  <div class="authPageContent">
   
      <img class="logoText" src="../assets/logo-dark.png" alt="Chatvia">

    <div class="pageTitle">Sign in</div>
    <div class="pageDescription">Sign in to continue to Chatvia.</div>
    <form action="#" class="form">
      <div>
        <label for="userEmail">Email</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">email</i></span>
          <input type="text" id="userEmail" placeholder="Enter email">
        </div>
      </div>
      <div>
        <div class="forgotPassword"><label for="userPassword">Password</label><a href="#">Forgot password?</a></div>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">lock</i></span>
          <input type="password" id="userPassword" placeholder="Enter password">
        </div>
      </div>
      <div class="rememberUser">
        <input type="checkbox" name="userRemember" id="userRemember">
        <label for="userRemember">Remember me</label>
      </div>
      <button>Sign In</button>
    </form>
    <div class="signUpLink">Don't have an account ?  <a href="#">Signup now</a></div>
  </div>
</div> -->


<!-- <div class="authPage">
  
  <div class="authPageContent">
   
      <img class="logoText" src="../assets/logo-dark.png" alt="Chatvia">

    <div class="pageTitle">Sign Up</div>
    <div class="pageDescription">Get your Chatvia account now.</div>
    <form action="#" class="form">
      <div>
        <label for="userEmail">Email</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">email</i></span>
          <input type="text" id="userEmail" placeholder="Enter email">
        </div>
      </div>
      <div>
        <label for="userName">Username</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">person</i></span>
          <input type="text" id="userName" placeholder="Enter Username">
        </div>
      </div>
      <div>
        <label for="userPassword">Password</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">lock</i></span>
          <input type="password" id="userPassword" placeholder="Enter password">
        </div>
      </div>
      
      <button>Sign Up</button>
    </form>
    <div class="signUpLink">Already have an account ?  <a href="#">Signin now</a></div>
  </div>
</div> -->

<!-- <div class="authPage">
  <div class="authPageContent">
   
      <img class="logoText" src="../assets/logo-dark.png" alt="Chatvia">

    <div class="pageTitle">Reset Password</div>
    <div class="pageDescription">Reset Password With Chatvia.</div>
    <form action="#" class="form">
      <div class="greenMessage">
        Enter your Email and instructions will be sent to you!
      </div>
      <div>
        <label for="userEmail">Email</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">email</i></span>
          <input type="text" id="userEmail" placeholder="Enter email">
        </div>
      </div>
      
      
      
      <button>Reset</button>
    </form>
    <div class="signUpLink">Remember It ? <a href="#">Signin now</a></div>
  </div>
</div>
 -->

 <div class="authPage">
  <div class="authPageContent">
   
      <img class="logoText" src="../assets/logo-dark.png" alt="Chatvia">

    <div class="pageTitle">Lock screen</div>
    <div class="pageDescription">Enter your password to unlock the screen!</div>
    <form action="#" class="form">
      <div class="userInfo">
        <img src="../assets/avatar-1.jpg" alt="Patricia Smith">
        <p class="userName">Patricia Smith</p>
      </div>
      <div>
        <label for="userPassword">Password</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">lock</i></span>
          <input type="password" id="userPassword" placeholder="Enter password">
        </div>
      </div>
      
      
      
      <button>UnLock</button>
    </form>
    <div class="signUpLink">Not you? <a href="#">Signin now</a></div>
  </div>
</div>

