<div class="authPage">
  
  <div class="authPageContent">
   
      <img class="logoText" src="../assets/logo-dark.png" alt="Chatvia">

    <div class="pageTitle">Sign in</div>
    <div class="pageDescription">Sign in to continue to Chatvia.</div>
    <form action="#" class="form">
      <div>
        <label for="userEmail">Email</label>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">email</i></span>
          <input type="text" id="userEmail" placeholder="Enter email">
        </div>
      </div>
      <div>
        <div class="forgotPassword"><label for="userPassword">Password</label><a href="#">Forgot password?</a></div>
        <div class="inputIcon">
          <span class="icon"><i class="material-icons">lock</i></span>
          <input type="password" id="userPassword" placeholder="Enter password">
        </div>
      </div>
      <div class="rememberUser">
        <input type="checkbox" name="userRemember" id="userRemember">
        <label for="userRemember">Remember me</label>
      </div>
      <button>Sign In</button>
    </form>
    <div class="signUpLink">Don't have an account ?  <a href="#">Signup now</a></div>
  </div>
</div>